#descriUm {
    display: none;
}

#descriDois {
    display: none;
}

#descriTres {
    display: none;
}

#descriQuatro {
    display: none;
}

img {
    width: 30%;
}

#popupUm {
    display: none;
}

#popupDois {
    display: none;
}

#popupTres {
    display: none;
}

#popupQuatro {
    display: none;
}